{% extends "layout.html" %}
{% block content %}
        <img src="https://lake-express.codio.io/main/website/images/IMG_1315.jpg" alt="Alex&Mario" width="500" heigth="500">
        <blockquote>
            Alex Vargas (pictured right) is an upcoming Junior at Johns Hopkins University
            double-majoring in Computer Science and Psychology.</blockquote>
        <blockquote>
            Mario Rivero, (pictured left) is an an upcoming Junior at Weber State Universite double-majoring in Computer Science and 
            Computational Statistics and Data Science
            
        </blockquote>
        
        <img src="https://lake-express.codio.io/main/website/images/IMG_7581.CR2.jpg" alt="Eman" width="500" heigth="500">
		
		<br/>
        <blockquote>The functionality of the website was implemented using the Recipe API from mail@webknox.com </blockquote>

{% endblock content %}