{% extends "layout.html" %}
{% block content %}
    <div class = "myCss">
        <h1>Welcome to Dining Trio</h1>
        <img src="https://lake-express.codio.io/main/website/images/image.jpg" alt="Cooking Image" width="600" height="375" class="left" >

        <p>Head to <b><em>Search Recipe</em></b> to find recipes based on keyword!</p>
        <p>Head to <b><em>Search by Ingredient</em></b> to find recipes based on ingredients you have!</p>
		<p>To learn more about Dining Trio and its developers, please head to the <em><b>About</b></em> page</p>
		 
    </div>
    
{% endblock content %}
